# java

Repositories with desirable state :white_check_mark:: 2 / 9 repos (the higher, the better):

- Zero open issues: 7 repos
- Zero pull requests: 6 repos
- README.md updated: 9 repos
- About updated: 9 repos
- Zero document references: 6 repos
- Code Deleted: 4 repos
- Public Archived: 3 repos

### Repository state
| Repository | Open Issues | Open Pull Requests | README.MD updated  | About updated | Document References | Code Deleted | Public Archived |
|------------|-------------|--------------------|--------------------|---------------|---------------------|--------------|-----------------|
| api-common-java  |        0 |        0 | true | true | 0 | false | false |
| gax-java  |        2 |        0 | true | true | 0 | false | true |
| java-accessapproval  |        0 |        1 | true | true | 0 | false | false |
| java-aiplatform :white_check_mark: |        0 |        0 | true | true | 0 | true | true |
| java-bigqueryconnection  |        0 |        1 | true | true | [25](./document_reference_count.tsv) | false | false |
| java-bigquerydatatransfer  |        0 |        1 | true | true | [58](./document_reference_count.tsv) | false | false |
| java-talent  |        2 |        0 | true | true | [2](./document_reference_count.tsv) | true | false |
| java-workflows  |        0 |        0 | true | true | 0 | true | false |
| java-accesscontextmanager :white_check_mark: |        0 |        0 | true | true | 0 | true | true |
